src/main/mule/cicd-auto-connected-with-github.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a765c5e3-6122-47a8-9366-0d290ceea517" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-auto-connected-with-githubFlow" doc:id="e5365ded-e900-48eb-bf34-86c239e1b9f5" >
		<http:listener doc:name="Listener" doc:id="bd3873eb-16ff-449e-b1ca-0f4b73460918" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="e14dd8df-ecac-4e3c-b243-466ace5e6b35" message="it's started"/>
		<ee:transform doc:name="Transform Message" doc:id="b75c46ae-6b17-4c79-a8db-fe3fd3e5fd0c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"CICD auto connection with gitHub works successfully!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7f5d9413-ac14-4b01-9404-77e468463c17" message="#[payload]"/>
	</flow>
</mule>
